# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenv
venv/
.env
ENV/
.Python

# PyCharm / IDE
.idea/
*.iml

# Django / local
*.log
local_settings.py
db.sqlite3
/media/
staticfiles/

# OS
.DS_Store
Thumbs.db
