{% extends "sidebar_content.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{ page_title }}</h2>
    </div>

    <div class="card">
        <div class="card-body">
            {% if reward_list %}
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Ngày Thưởng</th>
                        <th>Mã Nhân Viên</th>
                        <th>Hạng Mục Khen Thưởng</th>
                        <th>Thông Báo Áp Dụng</th>
                        <th>Giá Trị</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in reward_list %}
                        <tr>
                            <td>{{ item.rewarded_date|date:"d/m/Y" }}</td>
                            <td>{{ item.employee }}</td>
                            <td>{{ item.reward_item.name }} ({{ item.reward_item.code }})</td>
                            <td>{{ item.reward_announce }}</td>
                            <td>{{ item.rewarded_value|floatformat:0 }} VNĐ</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <p>Chưa có dữ liệu khen thưởng nào được ghi nhận.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}